* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(rgba(128, 128, 128, 0.9)), to(rgba(128, 128, 128, 0.2))), url("../images/image1.jpg");
  background: linear-gradient(to left, rgba(128, 128, 128, 0.9), rgba(128, 128, 128, 0.2)), url("../images/image1.jpg");
  background-size: cover;
}

.home_name {
  font-size: 4rem;
  margin-top: 1rem;
  border-bottom: 2px solid white;
}

.home_name-last {
  color: #a16868;
  font-weight: 700;
}

.navbar {
  display: inline;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: red;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: red;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: red;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn_burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_burger.open::before {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 20px;
}

.menu-nav_item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav_item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav_item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav_item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.about {
  padding-bottom: 2rem;
}

.about_bio-image {
  height: 80vh;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(128, 128, 128, 0.9)), to(rgba(128, 128, 128, 0.2))), url("../images/image1.jpg");
  background: linear-gradient(to left, rgba(128, 128, 128, 0.9), rgba(128, 128, 128, 0.2)), url("../images/image1.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about_bio-image p {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.about_bio {
  width: 100%;
  text-align: center;
}

.about_bio .text-secondary {
  padding-bottom: 1rem;
}

.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.about .jobs_job {
  background: #9a9a9a;
  padding: 0.5rem;
  border-bottom: 5px solid #020906;
}

.about .jobs_job h2, .about .jobs_job h3 {
  margin: 0.5rem 0;
}

.about .jobs_job h6 {
  margin: 0.4rem 0;
}

.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, right top, left top, from(rgba(128, 128, 128, 0.9)), to(rgba(128, 128, 128, 0.2))), url("../images/image1.jpg");
  background: linear-gradient(to left, rgba(128, 128, 128, 0.9), rgba(128, 128, 128, 0.2)), url("../images/image1.jpg");
  background-size: cover;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}

.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}


body {
  background: grey;
  color: white;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

.text-secondary {
  color: #020906;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .social-icons a:hover {
  color: #020906;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: white;
}
/*# sourceMappingURL=main.css.map */
